*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.header {
  position: relative;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40px;
  top: 40px;
}

.header__profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 20px;
}

.profile-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.profile-btn,
.profile-btn:link,
.profile-btn:visited {
  background-color: #192a56;
  height: 50px;
  padding: 10px;
  color: white;
  border-radius: 30px;
  text-decoration: none;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__text-heading {
  text-align: center;
  font-size: 70px;
  color: white;
  font-weight: 500;
  letter-spacing: 5px;
}
.header__text-sub-heading {
  text-align: center;

  margin-top: 20px;
  font-size: 30px;
  color: black;
  font-weight: 500;
}

.main {
  position: relative;
  margin-top: 70px;
}

.main-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: red; */
  height: auto;
  width: 65vw;
}

.add-task {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.add-task-input {
  height: 35px;
  width: 300px;
  border-radius: 20px;
  border-style: none;
  outline: none;
  padding: 10px;
  border: 1px solid #2b2b52;
}
.add-task-btn {
  margin-left: 5px;
  background-color: blue;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-top: 5px;
  height: 35px;
  width: 100px;
  border-radius: 20px;
  border-style: none;
}

.add-task-btn:hover {
  background-color: #0abde3;
}

/* button */
button {
  border: none;
  outline: none;
}
.wrapper {
  margin: auto;
  padding: 50px 0;
  width: 60px;
  height: 60px;
  z-index: 2147483647;
}
.circle {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #555;
  opacity: 0.5;
  display: flex;
  transition: 0.2s;
}
.circle img {
  margin: auto;
  width: 30px;
  height: 30px;
  transition: 0.5s;
}
.circle:hover,
.circle:focus {
  cursor: pointer;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.656);
  padding: 17px;
  margin-bottom: 10px;
  font-size: 18px;
}

.name {
  font-size: 25px;
  position: relative;
}

.btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  padding-bottom: 0px;
  font-size: 15px;
}

.btn-complete {
  text-align: center;
  background-color: #26ae60;
  color: #fff;
  padding: 7px;
  border-radius: 20px;
  width: 100px;
  text-decoration: none;
  position: relative;
}

.btn-complete:hover {
  background-color: #26ae61a1;
}
.btn-update {
  background-color: #01cbc6;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
}

.btn-update:hover {
  background-color: #01cbc86b;
}
.btn-delete {
  background-color: #e44236;
  color: white;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
}

.btn-delete:hover {
  background-color: #f51000;
}

.popup {
  display: none;
  position: absolute;
  height: 200px;
  width: 600px;
  background-color: #2c3335;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  transition: all 1s;
  z-index: 100;
}

.popup-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.update-popup-input {
  margin-top: 20px;
  height: 40px;
  width: 350px;
  border-radius: 20px;
  border: none;
  padding: 10px;
  outline: none;
}

.popup-update {
  margin-top: 15px;
  text-decoration: none;
  background-color: #01cbc6;
  color: #2b2b52;
  border: none;
  padding: 10px;
  border-radius: 20px;
}

.popup-update:hover {
  background-color: #01cbc8c2;
}

.close {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 0px;
  right: 10px;
  transform: rotate(45deg);
  cursor: pointer;
}

@media (max-width: 600px) {
  .header__text-heading {
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 500;
    letter-spacing: 3px;
  }
  .header__text-sub-heading {
    text-align: center;

    margin-top: 20px;
    font-size: 20px;
    color: black;
    font-weight: 500;
  }
  .header__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 450px) {
  .header__text-heading {
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 500;
    letter-spacing: 3px;
  }
  .header__text-sub-heading {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: black;
    font-weight: 500;
  }
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .header__profile {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 20px;
  }

  .profile-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  .header__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 1000px) {
  .main-div {
    width: 90vw;
  }
}

@media (max-width: 400px) {
  .popup {
    width: 350px;
  }
  .update-popup-input {
    width: 300px;
  }
}
