<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | TasksX</title>
    <link rel="shortcut icon" type="image/png" href="./images/favicon.png" />
    <link rel="stylesheet" href="/css/tasks.css" />
  </head>
  <body>
    <div class="header">
      <div class="header__svg">
        <svg
          height="600px"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1440 320"
        >
          <path
            fill="#0099ff"
            fill-opacity="1"
            d="M0,224L80,208C160,192,320,160,480,170.7C640,181,800,235,960,240C1120,245,1280,203,1360,181.3L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"
          ></path>
        </svg>
      </div>
      <div class="header__text">
        <div class="header__text-heading">TasksX</div>
        <div class="header__text-sub-heading">
          Your all in one task manager
        </div>
      </div>
      <div class="profile">
        <div class="header__profile">
          <img class="profile-img" src="../images/profile.webp" alt="" />
        </div>
        <div class="header__profile-btn">
          <div>
            <form action="/users/me" method="GET">
              <button class="profile-btn" type="submit">
                My Profile
              </button>
            </form>
          </div>
          <div>
            <form action="/logout" method="POST">
              <button class="profile-btn-b" type="submit">
                Sign out
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      class="add-new-task-div"
      style="margin-top: -20px; margin-bottom: 20px;"
    >
      <a
        href="/dashboard"
        class="add-new-task"
        style="
          font-size: 20;
          color: white;
          background-color: violet;
          border-radius: 30px;
          text-decoration: none;
          padding: 15px;
        "
        >Add new Task</a
      >
    </div>

    <h1 style="text-align: center; margin-top: -200px; margin-bottom: 50px;">
      Your Tasks
    </h1>

    <ul style="padding: 20px;">
      <div class="tasks">
        <div class="name">
          &nbsp; &nbsp; <%= task.description %>
        </div>

        <form action="/dashboard/tasks/delete/<%= task._id %>">
          <button
            class="delete-task-btn"
            style="
              background-color: red;
              padding: 8px;
              border-radius: 30px;
              margin: 5px;
              font-size: 15px;
              color: white;
              cursor: pointer;
              position: relative;
              z-index: 100;
            "
            type="submit"
          >
            Delete
          </button>
        </form>
      </div>
    </ul>

    <ul style="padding: 20px;">
      <div class="tasks-single">
        <form action="/dashboard/tasks/update/<%= task._id %>" method="POST">
          <input
            class="name"
            name="description"
            type="text"
            value="<%= task.description %>"
            style="cursor: default;"
          />
          <br />
          <button
            class="update-task-btn"
            style="
              background-color: blue;
              padding: 8px;
              border-radius: 30px;
              margin: 5px;
              font-size: 15px;
              color: white;
              cursor: pointer;
            "
            type="submit"
          >
            Update
          </button>
        </form>
      </div>
    </ul>
  </body>
</html>
