* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  text-align: center;
  background: #dde1e7;
}

.content {
  width: 330px;
  background: #dde1e7;
  border-radius: 10px;
  padding: 40px 30px;
  box-shadow: -3px -3px 7px #2c2b2b73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.content .text {
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #000;
}

.content .field {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}

.field input {
  height: 100%;
  width: 100%;
  padding-left: 45px;
  font-size: 18px;
  outline: none;
  border: none;
  color: #595959;
  background: #dde1e7;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #66719b, inset -5px -5px 10px #ffffff73;
}

.field input:focus ~ label {
  box-shadow: inset 2px 2px 5px #babecc, inset -1px -1px 2px #ffffff73;
}

.field:nth-child(2) {
  margin-top: 20px;
}

.field span {
  position: absolute;
  width: 50px;
  line-height: 50px;
  color: #595959;
}

.field label {
  position: absolute;
  top: 50%;
  left: 45px;
  pointer-events: none;
  color: #666666;
  transform: translateY(-50%);
}

.field input:focus ~ label {
  opacity: 0;
}

.forgot-pass {
  text-align: left;
  margin: 10px 0 10px 5px;
}

.forgot-pass a {
  font-size: 16px;
  color: #3498db;
  text-decoration: none;
}

.forgot-pass:hover a {
  text-decoration: underline;
}

button {
  margin: 15px 0;
  width: 100%;
  height: 50px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  background: #dde1e7;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #5869a3, -5px -5px 10px #ffffff73;
}

button:focus {
  color: #3498db;
  box-shadow: inset 2px 2px 5px #9ea8cc, inset -5px -5px 10px #ffffff73;
}

.signup {
  font-size: 16px;
  color: #595959;
  margin: 10px 0;
}

.signup a {
  color: #000;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

/* back-button */

.back-button {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 5%;
  top: 8%;

  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: #03a9f4 1px solid;
  overflow: hidden;
  transition: background 0.3s ease;
}
.back-button.back .arrow-wrap {
  left: -50%;
}
.back-button:hover {
  background: #03a9f4;
}
.back-button:hover .arrow-wrap span {
  background: #fff;
}
.back-button .arrow-wrap {
  display: block;
  position: absolute;
  height: 70%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.3s ease;
}
.back-button .arrow-wrap span {
  height: 1px;
  left: 0;
  top: 50%;
  background: #03a9f4;
  position: absolute;
  display: block;
  transition: background 0.3s ease;
}
.back-button .arrow-wrap .arrow-part-1 {
  width: 100%;
  transform: translate(0, -50%);
}
.back-button .arrow-wrap .arrow-part-2 {
  width: 60%;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.back-button .arrow-wrap .arrow-part-3 {
  width: 60%;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
